.pageSetup {
  /* width: 100%; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfoCard {
  width: 90%;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 550px) {
  .userInfoCard {
    width: 80%;
  }
}
